## import

In [1]:
#importing libraries & packages
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_profiling
import datetime
import re
import pprint
pp = pprint.PrettyPrinter(indent=4)
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

#display multiple outputs from cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# import Animal Control Incidents df
df = pd.read_csv('Animal_Control_Incidents.csv')

#preserving original df before making alterations
raw_df = df.copy()

## functions

In [3]:
# regex for letters and '/' only, unless pattern reassigned
def remove_numpunc(list, pattern='[^A-Za-z/]+'):
    """regex to apply to list/df column --default: to include only letters and '/' """
    pattern = pattern
    #pattern = '[^A-Za-z_]+'
    list = [re.sub(pattern, '', i) for i in list] 
    return list

In [4]:
# plotting counts of timedate data 
def plot_dtcount(td_df, col, limitsy = None, limitsx= None, overlap = True, labels = None):
    """Plots incident count(y) with timeframe as x axis:
    
        td_df = dataframe with date/time
        col = date/time column(s) of dataframe to plot counts
        limitsy= (y,y), limitsx= (x,x) can be adjusted
         -, helful if wanting to exclude extreme outliers -
         overlap= boolean(if looping and want plots seperately plotted, set to False)
         labels= str or list of str for legend
         """
    
    td_df[col] = td_df[col].dropna()
    time_c = td_df.groupby([col])[col].count()
    
    if limitsy:
        plt.ylim(limitsy)
        
    if limitsx:
        plt.xlim(limitsx)

    if labels:
        plt.legend(
        (labels),
        loc='upper right'
        ,fontsize= 12)
    
    plt.scatter(time_c.index, time_c.values, s= 5, alpha=.3, label=col)
    if not overlap:
        plt.xlabel(col)
        plt.show();

In [5]:
# pretty blue/green seaborn correlation plot for categorical data
def corr_plot(data, minv=-.3, maxv=.3, dummy=True):
    """pretty blue/green seaborn correlation plot:
    
    data= dataframe(will include all columns)
    minv = -float, maxv = float  --adjust closer to 0 for more contrast, closer to -1/1 for less
    dummy = False if df is all numerical. when True:function will only dummy categorical features
    """
    
    if dummy:
        # dummy categorical features
        col_list = list(data.select_dtypes(include=['object']).columns)

        # create dummies for categorical features
        data = pd.DataFrame(pd.get_dummies(data=data,columns=col_list
                       , prefix=col_list))
    sns.set(style="white")
    corr = data.corr()

    # mask the size of covariance matrix
    mask = np.zeros_like(corr, dtype=np.bool)
    mask[np.triu_indices_from(mask)] = True

    f, ax = plt.subplots(figsize=(10, 10))

    sns.heatmap(corr, mask=mask
                ,annot=False, cmap="YlGnBu", vmin = minv, vmax=maxv, center=0,
                square=True, linewidths=.5,cbar_kws= {"shrink": .5} );
    
    #prevent the shrink of bottom row
    ax.set_ylim(len(data.columns), 0)

In [6]:
#sns countplot loop - probably unnecessary
def plot_counts(cols):
    for i, col in enumerate(cols):
       # print(df[col].value_counts())
        plt.figure(i)
        sns.countplot(y=col, data=df);

In [7]:
# replacing strings and substrings FOR COLOR COLUMN ONLY(could be made more universal)
def edit_replace(old_words, replacement_word):
    """simple replacing strings or list in the df.color column since used so frequently in editting"""
    for word in old_words:
        #df['color'] = df['color'].replace(word, replacement_word)
        df['color'] = df.color.apply(lambda x: x.replace(word, replacement_word))

# __Cleaning__

### overview

looking at size, data types, 'na's

In [8]:
df.shape

(73303, 38)

In [9]:
df.head()

,FILE NUMBER,INCIDENT DATE,INCIDENT TIME,DISPATCHED TIME,CALL TAKER,DISPATCHER,DISPATCHED OTHER,DISPATCHED SITUATION,ARRIVAL TIME,AVAILABLE TIME,...,CONDITION,TEMPERMENT,COLLAR,COLLAR COLOR,VACCINATION NUMBER,VACCINATION DATE,PET NAME,DISPOSITION,DISPOSITION DATE,DISPOSITION OFFICER
0,201639027,12/27/2016,15:30,16:06,UNKNOWN,JENNIFER G,0,D,16:17,16:38,...,FAIR,FRIENDLY,NYLON,RED,NaN,NaN,NaN,TRANS CAA,12/27/2016,FRANK S
1,201639044,12/28/2016,10:06,10:07,UNKNOWN,JENNIFER G,0,D,10:15,10:23,...,FAIR,NORMAL,UNKNOWN,UNKNOWN,NaN,NaN,NaN,RETURN TO WILD,12/28/2016,TRAVIS R
2,201639036,12/28/2016,09:03,09:03,UNKNOWN,JENNIFER G,0,D,09:27,09:45,...,EMACIATED,FRIENDLY,LEATHER,PINK,NaN,NaN,NaN,TRANS CAA,12/28/2016,ISAAC S
3,201639042,12/28/2016,09:46,10:24,UNKNOWN,JENNIFER G,0,D,10:35,10:47,...,EMACIATED,FRIENDLY,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,12/28/2016,JOHN B
4,201639059,12/28/2016,15:05,15:45,UNKNOWN,JENNIFER G,0,D,16:07,16:25,...,EMACIATED,NORMAL,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,12/28/2016,SUE H

In [10]:
# removing spaces and lower casing the column names
df.columns = df.columns.str.lower()
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(' ', '_')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73303 entries, 0 to 73302
Data columns (total 38 columns):
file_number             73303 non-null int64
incident_date           73303 non-null object
incident_time           72818 non-null object
dispatched_time         62547 non-null object
call_taker              53134 non-null object
dispatcher              60239 non-null object
dispatched_other        73303 non-null int64
dispatched_situation    62537 non-null object
arrival_time            61843 non-null object
available_time          62545 non-null object
complainant_street      73281 non-null object
request_type            40141 non-null object
officer                 61235 non-null object
equipment_number        60251 non-null object
remarks                 2098 non-null object
impound_number          53110 non-null float64
impound_date            53105 non-null object
impound_time            53046 non-null object
location                52867 non-null object
municipality            53106 non-null object
zip_code                24222 non-null float64
service_code            53110 non-null object
species                 53088 non-null object
breed                   52282 non-null object
sex                     40642 non-null object
size                    51815 non-null object
color                   51754 non-null object
age                     33217 non-null float64
condition               50878 non-null object
temperment              51486 non-null object
collar                  24966 non-null object
collar_color            24449 non-null object
vaccination_number      599 non-null object
vaccination_date        347 non-null object
pet_name                1012 non-null object
disposition             53103 non-null object
disposition_date        38598 non-null object
disposition_officer     52323 non-null object
dtypes: float64(3), int64(2), object(33)
memory usage: 21.3+ MB

Although most features are classified appropriately, some of these columns would be better described as object than int or float. There are also many dates and times to convert to datetime.

In [12]:
# float and int columns with no numerical value
obj_cols = ('file_number', 'dispatched_other', 'impound_number', 'zip_code', 'color', 'breed')

# converting to object
for col in obj_cols:
    df[col] = df[col].astype(str)

In [13]:
# any duplicate rows?
print (len(df[df.duplicated()])/len(df))
# df[df.duplicated()]

0.003396859610111455

Other than the majority of them appearing around the year 2012, nothing grabs my attention with the duplicates. It only accounts for .03% of df.

In [14]:
# removing duplicate rows from df - likely data entry mistakes
df.drop_duplicates(keep=False, inplace=True)

How much nas per column are there?

In [15]:
#percent missing values per column
round(df.isna().sum()/len(df)*100)

file_number               0.0
incident_date             0.0
incident_time             1.0
dispatched_time          14.0
call_taker               27.0
dispatcher               18.0
dispatched_other          0.0
dispatched_situation     14.0
arrival_time             15.0
available_time           14.0
complainant_street        0.0
request_type             45.0
officer                  17.0
equipment_number         18.0
remarks                  97.0
impound_number            0.0
impound_date             28.0
impound_time             28.0
location                 28.0
municipality             28.0
zip_code                  0.0
service_code             28.0
species                  28.0
breed                     0.0
sex                      45.0
size                     29.0
color                     0.0
age                      55.0
condition                31.0
temperment               30.0
collar                   66.0
collar_color             66.0
vaccination_number       99.0
vaccination_date        100.0
pet_name                 99.0
disposition              28.0
disposition_date         48.0
disposition_officer      29.0
dtype: float64

Since most features are missing substantial amounts of data, I want to be careful about dropping nas to avoid tossing out useful information with the nulls.

In [16]:
#removing row with nas from incident time since such little nas(1% rows)
df = df[df['incident_time'].notna()]

In [17]:
# preserve df 
df1 = df.copy()

In [18]:
#df=df1

### date & time

Converting dates and times to appropriate format.

- Merging incident date and time to datetime column, repeat with impound date & time.

In [19]:
# incident date + incident time for merged datetime column
df['inc_dt'] = pd.to_datetime(df['incident_date'].apply(str)+' '+df['incident_time'])

In [20]:
# impound date + impound time = impound datetime
df['imp_dt'] = pd.to_datetime(df['impound_date'].apply(str)+' '+df['impound_time'], errors ='coerce')

___
__Time Features:__

In [21]:
# time columns to list, then loop conversion to date.time
time_cols= [col for col in df.columns if 'time' in col]

# covert time to hour/minute datetime format
for col in time_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce', format="%H:%M").dt.time

In [22]:
print('Incident time Range:\n''from',df.incident_time.min(),'\n to:', df.incident_time.max())

Incident time Range:
from 00:04:00
 to: 23:58:00

___
__Date Features:__

In [23]:
# all date columns to list
date_cols= [col for col in df.columns if 'date' in col]

# covert to month/day/year datetime format
for col in date_cols:
    df[col] = pd.to_datetime(df[col],errors='coerce', format="%m/%d/%Y").dt.date

In [24]:
# date range of dataset
print('Incident Date Range:\n''from:',df.incident_date.min(),'\n to:', df.incident_date.max())

Incident Date Range:
from: 2012-01-01
 to: 2019-10-03

#### additional time features:

___
Below, I will be:


- Creating feature representing time difference between incident time and impound time.  

*_The incident date&time is when the incident was called in, the impound time is when the animal was brought to the shelter. It's possible that not every incident called in resulted in an impound, which may be the reason values are missing from impound._

__difference between datetime of incident call and impound datetime__

In [25]:
# time difference from incident to impound
df['inc_to_imp'] = df['imp_dt']-df['inc_dt']

___
Weekday and Month:

This may not provide anything insightful, but I'm creating columns for weekday and month of incident.

__- Weekday Feature-__

In [26]:
# creating day of week column:
df['weekday'] = pd.to_datetime(df['incident_date']).apply(lambda x: x.weekday())

df.weekday.value_counts()
# 0= monday

0    15960
1    14032
2    13513
3    13072
4    11984
5     2149
6     1740
Name: weekday, dtype: int64

It looks like most incidents occur on Mondays, and then dwindle down throughout the week, with much less incidents reported on weekends

Are the amount of impounds per day relative to the amount of incidents?

In [27]:
# how does incident day of week compare to impound day of week?:
imp_weekday_counts=(pd.to_datetime(df['impound_date'].dropna()).apply(lambda x: x.weekday()).value_counts())
(imp_weekday_counts.sum())/(df.weekday.value_counts().sum())
imp_weekday_counts/df.weekday.value_counts()
# 0= monday

0.7212146307798482

0    0.628195
1    0.676026
2    0.704729
3    0.707925
4    0.726469
5    1.359702
6    1.341954
dtype: float64

Something seems strange here. The dataframe has 76% of total not-null impounds to total incidents, why would there be 30% more impounds than incidents on any of the days, especially weekends?

___
__- Month feature-__

In [28]:
# column for month
df['month'] = pd.DatetimeIndex(df['incident_date']).month

df.month.value_counts()

5     7869
8     6906
6     6894
7     6663
9     6445
10    6385
4     5953
3     5632
1     5371
2     5051
11    4785
12    4496
Name: month, dtype: int64

__Warmer Climate = More Animal Control Incidents?__

May-September appear to have the most incidents. According to weather.com, the average temperature increases rises from the 50's to 60's degree Fahrenheit around min April, and then begins to dip below the 60s again towards the end of October(although Baton Rouge typically experiences the most volume in rainfall in June and August). Using that information, you can infer a positive correlation between weather and incidents, similar to the common correlation with temperature and crime.

*_Note that since the dates run between Jan-1-2012 to Oct-3rd-2019, there will be bias towards the first 10 months._

### animal features

Animals features include __color__, __breed__, __condition__, __temperment__, and __size__. color and breed present an issue with such high unique values for what should be considered , multiple spellings for the same color/breed, and alternate sequences of the same substrings appearing as different values( i.e. brown/white vs white/brown)

#### color

##### unifying spellings of colors

In [29]:
#df.color.value_counts()
df.color.value_counts()

nan                         21526
BLK                          4026
BLK/WHT                      3973
GRY                          3201
BRWN/WHT                     1592
GRY/WHT                      1565
TAN/WHT                      1470
BRWN                         1418
TAN                          1417
BLK/TAN                      1295
GRAY                         1084
BROWN                        1053
GREY                          928
GRY/BLK                       915
WHT                           903
BLK/GRY                       789
BLK/BRWN                      762
BRWN/BLK                      754
WHT/BLK                       752
BLACK                         716
ORG                           716
WHT/BRWN                      633
BRN/BLK                       615
BRINDLE                       588
BRN                           521
WHT/TAN                       511
TAN/BLK                       508
WHITE                         388
WHT/GRY                       386
NORMAL                        379
                            ...
GRAY BRINDLE                    1
GOLD/WHT/GRY/BLK                1
GRY/GREEN/BRN                   1
BRINDLE/BRN/BLK                 1
CALICO/TABBY                    1
WHT/BRN/TAN                     1
2 BLK/WHT,1 BRWN/BLK/WHT        1
BLK/GRY/WHT CHEST/FEET          1
GOLD/BLK/GRY/WHT                1
BLACK,BROWN,WHITE               1
BLACK/ORANGE/WHITE              1
WHT OR                          1
GR WHT                          1
GRAY/BRN/BLK                    1
GRYA                            1
GRAY/TABBY/WHITE                1
GRY PINK                        1
BRN PATTERN                     1
GRY/BLK/WHT/BRWN                1
REDDISH/TAN                     1
BLK.WHT/ORANGE                  1
B;LK/BRWN/WHT                   1
BLK YELLOW BELLY                1
RED-WHT                         1
TIGER STRIP TAN/WHT             1
YEL(LONG HAIR)                  1
GRAY.DK GRAY                    1
GRY YELLOW                      1
BLK/ GRY/BLK                    1
BROWNISH RED                    1
Name: color, Length: 2183, dtype: int64

Color Feature Cleaning:

- Not liking the all caps, also unnecessary punctuation.


- 1089 unique color values is going to be a problem for machine learning models, so I'd also like to reduce those. Each color needs to have uniform spelling, and combinations with low value counts will be categorized as 'other' to reduce dimensionality and noise.

*_I'll be treating each combination as it's own category. I'm not sure if approaching each color as a separate feature would be practical, but maybe could be given more thought later. I don't see value in each individual color as much as the overall description of color(s) as a whole._

In [30]:
pre_color = df.copy()

In [51]:
df= pre_color.copy()

In [45]:
#df['color'] = df['color'].apply(lambda x: x.replace(' ', '/'))

In [46]:
# removing extra spaces and lower casing 
#df['color'] = df['color'].astype(str)
#df['color'] = df['color'].str.strip()
df['color'] = df['color'].str.lower()

In [47]:
characters = ('=',',','�','_',"'", '-', '(', ')', '.', '\\', ',,', ',,,', '_/_', ' ', '  ', '//','&')

edit_replace(characters, ',')

In [35]:
#df['color'] = remove_numpunc(df.color, pattern = '[^A-Za-z/]+')

In [50]:

pattern = '[^A-Za-z^/]+'
list = [re.sub(pattern, '', i) for i in df.color] 
list

['blk/wht',
 'gray',
 'brindle/wht',
 'blk/tan',
 'brwn',
 'tan/gray/wht',
 'brwn/wht',
 'blk/brwn',
 'blk/tan',
 'gray/tan/wht',
 'nan',
 'gry/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry',
 'blue/wht',
 'nan',
 'nan',
 'blk',
 'chocolate',
 'blk',
 'nan',
 'nan',
 'wht',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'brwn/wht',
 'nan',
 'nan',
 'gry/wht',
 'wht/tan',
 'nan',
 'nan',
 'blk/brwn',
 'blk/gry',
 'blk',
 'nan',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'gray/blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'brwn/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'brown',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'wht/gry',
 'tabby',
 'nan',
 'nan',
 'tan/wht',
 'calico',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'brindle/wht',
 'nan',
 'nan',
 'brn',
 'nan',
 'wht',
 'brindle/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry/wht',
 'nan',
 'gry/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'brwn/wht',
 'gray',
 'wht/brwn',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'gray',
 'brindle/wht',
 'nan',
 'nan',
 'nan',
 'gry',
 'gray',
 'tan/gray',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'brindle',
 'nan',
 'nan',
 'wht/yellow',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'brwn/blk',
 'blk',
 'nan',
 'brwn/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'brown',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'red',
 'blk/tan',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'wht',
 'nan',
 'brown',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'nan',
 'tan/orange',
 'nan',
 'gray',
 'nan',
 'nan',
 'nan',
 'tan/wht',
 'brwn',
 'nan',
 'nan',
 'wht',
 'blue/wht',
 'nan',
 'nan',
 'wht/tan',
 'gray',
 'nan',
 'nan',
 'blk/brown',
 'nan',
 'blue/wht',
 'blk/wht',
 'blk/brwn',
 'blk/wht',
 'nan',
 'nan',
 'blk/tan',
 'nan',
 'wht',
 'nan',
 'gray',
 'brwn',
 'nan',
 'nan',
 'brwn/blk',
 'brwn',
 'nan',
 'nan',
 'nan',
 'gray',
 'blk/brwn',
 'nan',
 'nan',
 'gray',
 'nan',
 'gray/blk',
 'nan',
 'gray',
 'gray',
 'brwn/blk',
 'tan',
 'nan',
 'gray',
 'nan',
 'nan',
 'nan',
 'tan',
 'nan',
 'blk/tan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'black/white',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'tan',
 'tan/wht',
 'nan',
 'blk/tan',
 'nan',
 'blk/wht',
 'nan',
 'blk/gray/wht',
 'brwn/wht',
 'nan',
 'brn/gray',
 'nan',
 'nan',
 'nan',
 'nan',
 'gold',
 'nan',
 'tan/wht',
 'blk/wht',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'brindle/wht',
 'blk/tan',
 'blk/tan/gry',
 'nan',
 'tan/gray',
 'nan',
 'blk/wht',
 'nan',
 'gray/wht',
 'gray',
 'nan',
 'nan',
 'gray/blk',
 'nan',
 'blk/wht',
 'blk',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'tan/blk',
 'org/wht',
 'nan',
 'brwn/blk',
 'blk/wht/chest',
 'nan',
 'nan',
 'brwn',
 'nan',
 'brwn',
 'nan',
 'gray',
 'nan',
 'nan',
 'nan',
 'tan',
 'brn',
 'tan',
 'blk/tan',
 'tan/gry',
 'blk/eht',
 'tan/wht',
 'blk/tan',
 'nan',
 'gry/wht',
 'nan',
 'gray',
 'nan',
 'blk/tan/or',
 'nan',
 'blk/wht',
 'nan',
 'tan/blk',
 'nan',
 'nan',
 'orange/wht',
 'nan',
 'blk',
 'black/tan',
 'wht/brindle',
 'nan',
 'nan',
 'tiger/strip/tan/wht',
 'blk',
 'nan',
 'nan',
 'nan',
 'brwn/blk/wht',
 'tan/wht',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'brn/wht',
 'wht/brwn/patch/by/the/eye',
 'nan',
 'gray',
 'blkwht',
 'blk/wht',
 'nan',
 'wht/blk',
 'blk/brn',
 'blue/wht',
 'gray/wht',
 'nan',
 'brindle/wht',
 'gray',
 'brwn',
 'nan',
 'fawn/wht',
 'nan',
 'nan',
 'brwn/tan',
 'wht',
 'gray/tabby',
 'nan',
 'nan',
 'gry',
 'brwn',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'wht/tan',
 'gray',
 'gray',
 'blk/brwn',
 'nan',
 'brwn',
 'blk/brwn',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'dark/brwn',
 'nan',
 'wht',
 'brindle',
 'nan',
 'nan',
 'blk/wht',
 'tan/blk',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/gray/tabby',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'blk',
 'gray',
 'nan',
 'nan',
 'nan',
 'brwn/wht',
 'blk/wht',
 'nan',
 'nan',
 'brwn/wht/blk',
 'gray/blk/wht',
 'wht',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'nan',
 'nan',
 'org',
 'nan',
 'nan',
 'blk/wht/brwn',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'brn/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'orange/wht',
 'nan',
 'nan',
 'blk/gry',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'tan/blk',
 'nan',
 'yellow',
 'nan',
 'nan',
 'nan',
 'gry',
 'nan',
 'nan',
 'gry/blk',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'gry',
 'green',
 'wht',
 'tan/blk',
 'gry/blk',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'org',
 'nan',
 'br/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'tan/blk',
 'nan',
 'gry/wht',
 'blk/wht',
 'nan',
 'nan',
 'blk',
 'nan',
 'nan',
 'brn/blk',
 'blk/wht',
 'gry/blk/wht',
 'blk',
 'blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'grey/blue',
 'blk/wht',
 'tan',
 'tan/brn',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'blk',
 'brn',
 'nan',
 'wht/tan',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'red',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'blk/tan',
 'nan',
 'wht/gry',
 'gry',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry/wht',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'blk',
 'nan',
 'blk/wht',
 'nan',
 'red/brwn',
 'wht/blk',
 'blue/wht',
 'nan',
 'tan/blk/wht',
 'gry/wht',
 'nan',
 'gry',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry/tan',
 'nan',
 'gyr',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'brwn/wht',
 'nan',
 'brwn',
 'nan',
 'nan',
 'nan',
 'blk',
 'blk',
 'wht/brwn',
 'nan',
 'gry',
 'nan',
 'tan/wht',
 'blk/wht',
 'wht/brn/blk',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'brwn',
 'buff',
 'gry/tabby',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'blk/brn',
 'nan',
 'brwn',
 'nan',
 'nan',
 'nan',
 'brown',
 'brwn/wht',
 'nan',
 'nan',
 'gry',
 'nan',
 'green',
 'brn',
 'nan',
 'gry',
 'nan',
 'blk/yellow',
 'gry/blk',
 'nan',
 'nan',
 'gry',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry/wht',
 'nan',
 'tri',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'brwn/blk',
 'tan',
 'tan/blk/wht',
 'nan',
 'nan',
 'blk',
 'brn',
 'brwn/blk',
 'gry',
 'blk/tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry',
 'nan',
 'nan',
 'nan',
 'gry',
 'brwn/blk/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'org',
 'nan',
 'nan',
 'gry/tan',
 'tan/blk',
 'nan',
 'nan',
 'blk/wht',
 'nan',
 'nan',
 'gry',
 'tan/brwn',
 'blk/gray',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'gry/wht',
 'tan/blk',
 'nan',
 'nan',
 'nan',
 'blk',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'tan/wht',
 'nan',
 'blk/wht/tan',
 'gray/wht',
 'blk/wht',
 'nan',
 'brindle/wht',
 'nan',
 'nan',
 'nan',
 'blk/gray',
 'nan',
 'nan',
 'nan',
 'brwn',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'gray/dark/gray',
 'nan',
 'blk/gry',
 'gry/tan',
 'tan',
 'blk/gray',
 'nan',
 'nan',
 'nan',
 'tan/wht',
 'nan',
 'nan',
 'nan',
 'org',
 'blk/gray',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/tan/wht',
 'brwn',
 'blk/gray',
 'nan',
 'blk/tan/gry',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk',
 'blk/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/gray',
 'nan',
 'nan',
 'gray/blk',
 'nan',
 'brwn/wht',
 'org',
 'gry/tan',
 'nan',
 'nan',
 'nan',
 'brindle/wht',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/tan',
 'brwn',
 'nan',
 'black',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'blk/wht',
 'blk/wht',
 'gry',
 'nan',
 'gry/wht',
 'nan',
 'nan',
 'tan/bk',
 'nan',
 'brn',
 'nan',
 'cream',
 'nan',
 'nan',
 'nan',
 'gry',
 'nan',
 ...]

By looking at value counts of strings, I can decide which ones need uniform spelling. The ones with higher counts will be prioritized, and some may slip through the cracks, as it is a tedious task. Colors with strong similarity will be placed into major color categories as well, at my discretion.(ie. tan, sandy, and blonde all identified as 'tan')

##### editting color names
-takes a long time to run (maybe need to revise code for better performance

In [52]:
# looking at strings separated to evaluate how to edit; priority in high value counts
results = Counter()
df['color'].str.split('/').apply(results.update)
pp.pprint (results)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
73273    None
73274    None
73275    None
73276    None
73277    None
73278    None
73279    None
73280    None
73281    None
73282    None
73283    None
73284    None
73285    None
73286    None
73287    None
73288    None
73289    None
73290    None
73291    None
73292    None
73293    None
73294    None
73295    None
73296    None
73297    None
73298    None
73299    None
73300    None
73301    None
73302    None
Name: color, Length: 72450, dtype: object

Counter({   'nan': 21526,
            'BLK': 18363,
            'WHT': 16683,
            'GRY': 8355,
            'TAN': 7733,
            'BRWN': 6900,
            'GRAY': 2265,
            'WHITE': 2182,
            'BRN': 2092,
            'GREY': 1910,
            'BROWN': 1870,
            'BLACK': 1800,
            'ORG': 1476,
            'BRINDLE': 1249,
            'RED': 737,
            'YELLOW': 581,
            'BLUE': 545,
            'GOLD': 421,
            'NORMAL': 379,
            'BLK WHT': 351,
            'CALICO': 245,
            'ORANGE': 220,
            'TORTI': 217,
            'BRN BLK': 208,
            'GRY BLK': 193,
            'GRY WHT': 187,
            'CREAM': 166,
            'BRN WHT': 155,
            'TAN WHT': 154,
            'BLK TAN': 152,
            'BLK GRY': 140,
            'BLK BRN': 119,
            'TRI': 114,
            'BEIGE': 113,
            'CHOC': 107,
            'TABBY': 105,
            'CHOCOLATE': 99,
            'MULTI': 88,
            'BLONDE': 84,
            'GREEN': 81,
            'WHT BLK': 74,
            'GRAY TABBY': 73,
            'WHT BRN': 69,
            'WHT GRY': 68,
            ' BLK': 66,
            'WHT TAN': 65,
            'GRY TAN': 64,
            'FAWN': 63,
            'GOLDEN': 61,
            'BRN ': 54,
            'GRY BRN': 53,
            'TAN BLK': 51,
            'WH': 47,
            'PINK': 44,
            'UNKNOWN': 42,
            'YELL': 39,
            'BRINDLE WHT': 35,
            'GREY ': 35,
            'GRN': 33,
            'ORANGE TABBY': 31,
            ' TAN': 28,
            ' WHITE': 28,
            'GRY TABBY': 27,
            'BLK ': 27,
            'BRN GRY': 27,
            ' WHT': 25,
            'TAB': 22,
            'BRN TABBY': 21,
            'GR': 21,
            'BRN TAN': 20,
            'BLK TAN WHT': 19,
            'SILVER': 19,
            'W': 19,
            'BROWN ': 18,
            'BLK SPOTS': 17,
            'TAN ': 16,
            'BLUE WHT': 15,
            'BLK BRN WHT': 15,
            ' GREY': 15,
            'BLU': 14,
            '': 14,
            'BL': 14,
            'WHT CHEST': 13,
            'WHITE BRINDLE': 13,
            'BROWN TABBY': 13,
            'B': 13,
            ' BRN': 13,
            'MERLE': 12,
            'gry': 12,
            ' BLACK': 12,
            'TAN WHT BLK': 12,
            'BLK WHT CHEST': 11,
            'GOLD TABBY': 11,
            'GREY TABBY': 11,
            'GRAY ': 11,
            'BLACK TABBY': 11,
            'GRY ': 11,
            'WHITE ': 11,
            'WHT BRINDLE': 10,
            'TRI COLOR': 10,
            'BROWN BRINDLE': 10,
            'TAN BLK WHT': 10,
            'YEL': 10,
            'BLLK': 9,
            ' GRY': 9,
            'MARBLE': 9,
            'BR': 9,
            'DARK BROWN': 9,
            'WHT BLK BRN': 9,
            'TAN BRN': 8,
            'BUFF': 8,
            'BRN WHT BLK': 8,
            'BRN BLK WHT': 8,
            'BLU WHT': 8,
            'WHT TABBY': 8,
            'WHITE TABBY': 8,
            'BK WHT': 8,
            'WHT ': 8,
            'DK BRN': 8,
            ' GRAY': 8,
            'DARK BRWN': 7,
            'WHT W': 7,
            'CAL': 7,
            'RED BLK': 7,
            'BLK W': 7,
            'RUST': 7,
            'GRY BLK TAN': 7,
            'OR': 7,
            'BLACK ': 7,
            ' BROWN': 7,
            'SIAMESE': 7,
            'WHT BRN BLK': 6,
            'BWN': 6,
            'BLK YELLOW': 6,
            'APRICOT': 6,
            'STANDARD': 6,
            'LIGHT BROWN': 6,
            'GRYWHT': 6,
            'ORNAGE': 6,
            'SORREL': 6,
            'BLK WHT BRN': 6,
            'DRK GRY': 6,
            'LIGHT BRN': 6,
            'GRY BLK WHT': 5,
            'WT': 5,
            'CHO': 5,
            'TANWHT': 5,
            'BRWN SPOTS': 5,
            'LIVER': 5,
            'REDDISH BROWN': 5,
            'BK': 5,
            'BRINDLE WHITE': 5,
            'BLACK SPOT': 5,
            'ORN WHT': 5,
            'WHT TAN BLK': 5,
            'WHIT': 5,
            'TAN SPOTS': 5,
            'TRICOLOR': 5,
            ' WHT CHEST': 5,
            'GRY TAN WHT': 5,
            '2 BLK': 5,
            'YELLOW TABBY': 5,
            'BK BRN': 5,
            'BRN TAB': 5,
            'WHT BLK TAN': 5,
            'GY BLK': 5,
            'BRN SPOTS': 5,
            'GRAY.WHITE': 5,
            'BLKWHT': 4,
            'BLKL': 4,
            'RED MERLE': 4,
            'BL GRY': 4,
            'CHESTNUT': 4,
            'BALCK': 4,
            'WHTIE': 4,
            'GRAY BRINDLE': 4,
            'GRY ORANGE': 4,
            'WHT GRY BLK': 4,
            'BLK TABBY': 4,
            'BRN BRINDLE': 4,
            'BRN TAN WHT': 4,
            'WTH': 4,
            'wht': 4,
            'GY': 4,
            'blk': 4,
            'org': 4,
            'GRY BK': 4,
            'GRY BLK TABBY': 4,
            'REDDISH': 4,
            'RED WHT': 4,
            'TAN GRY': 3,
            'BR WHT': 3,
            'DARK GRAY': 3,
            'RED BLK WHT': 3,
            'DSH': 3,
            'BLK GRY WHT': 3,
            'BKL': 3,
            'CHO WHT': 3,
            'BLK BRINDLE': 3,
            'EHT': 3,
            'TORTIE': 3,
            'B LK': 3,
            'BLUE MERLE': 3,
            'BLK WHT TAN': 3,
            'LEOPARD': 3,
            'ORANGE STRIPE': 3,
            'TN': 3,
            'TABBIE': 3,
            'BLK SPOT': 3,
            'BRWON': 3,
            'DARK GREY': 3,
            'TAM': 3,
            'BLACK STRIPE': 3,
            'YELLOW SPOTS': 3,
            'BROWN SPOTS': 3,
            'L BROWN W': 3,
            'LIGHT TAN': 3,
            'BROWN SPOT': 3,
            'FAWN WHT': 3,
            'TIGER STRIPE': 3,
            'BRWM': 3,
            'BRWN WHT': 3,
            'GRY WH': 3,
            'WHT ON CHEST': 3,
            'BRIN WHT': 3,
            'BLK GOLD': 3,
            'BRINDLE ': 3,
            'RED NOSE': 3,
            ' PINK': 3,
            'BKL TAN': 3,
            'BLUE ': 3,
            'GY WHT': 3,
            'GRY WHT TABBY': 3,
            'TORT': 3,
            'TAN BLK MOUTH': 3,
            'TORTISHELL': 3,
            'WHT FEET': 3,
            'BRNBLK': 3,
            ' 1 BLK': 3,
            'BRNWHT': 3,
            'TRI-COLOR': 3,
            'ORANGE WHT': 2,
            'TAN BK': 2,
            'LIGHT BRWN': 2,
            ' BLK SPOTS': 2,
            'TAN BRINDLE': 2,
            'RY': 2,
            'BRN TAN BLK': 2,
            'COPPER': 2,
            'LIGHT GREY': 2,
            'PEACH': 2,
            'TAN- WHT CHEST': 2,
            'FEET': 2,
            'WHT PAWS': 2,
            'TAN BLK GRY': 2,
            'BRINDLDE': 2,
            'GOLDEN RED': 2,
            'DK BRINDLE': 2,
            'DARK GRY': 2,
            'SABLE': 2,
            'RUSSIAN BLUE': 2,
            'DARK BROWN BRINDLE': 2,
            'BLACK SPOTS': 2,
            'BROWN WHITE': 2,
            ' BRWN': 2,
            'CHARCOAL': 2,
            'LT BROWN': 2,
            'MIXED': 2,
            'T': 2,
            'L BROWN': 2,
            'WHITE CHEST': 2,
            'BLACK NOSE': 2,
            'WHIE': 2,
            'BLAK': 2,
            'BLAVK': 2,
            'BLAVCK': 2,
            'BRONZE': 2,
            'BLK TNA': 2,
            'GEY': 2,
            'BRIDLE': 2,
            'BLK NOSE': 2,
            'GREEN YELLOW': 2,
            'BLUE BRINDLE WHT': 2,
            'RWN': 2,
            'GRREY': 2,
            'BLUE BRINDLE': 2,
            'PAINT': 2,
            'TIGER': 2,
            'TAN GRY WHT': 2,
            'TAN PAWS': 2,
            'blk wht': 2,
            'BRWN W': 2,
            'DK BROWN': 2,
            ' BRINDLE': 2,
            'GRYA': 2,
            'GR BLK': 2,
            'BLK SPOTTED': 2,
            'BKL BRN': 2,
            'WHY': 2,
            'BRINDLE BRN': 2,
            'brn blk': 2,
            'GRY TAB WHT': 2,
            'WHT BRN SPOTS': 2,
            'CRM': 2,
            'BLUE TAN WHT': 2,
            ' YELLOW': 2,
            'BL WHT': 2,
            'WHT, ORG': 2,
            'SORRELL': 2,
            'BLK.WHT': 2,
            'BRN GRY BLK': 2,
            'ORG WHT': 2,
            'WHT BROWN': 2,
            'BLK.BRN': 2,
            'CHOCOLATE BRINDLE': 2,
            'gry blk': 2,
            'BRN YELLOW': 2,
            'Y': 2,
            'BLK TAN WHT CHEST': 2,
            'TAN WHT CHEST': 2,
            ' BRWN SPOT': 2,
            'BLUR': 2,
            'WHT RED': 2,
            'BLK BRN GRY': 2,
            'B;LK': 2,
            'BRINDLE PATCH': 2,
            'REDDISH BRN': 2,
            'GRY BRN TAB': 2,
            'BUCK SKIN': 2,
            'blk gry': 2,
            ' BRWN SPOTS': 2,
            'CHOCO': 2,
            '3BLK': 2,
            'WHITE SPOTTED': 2,
            'BLK GRN': 2,
            'WHT BEIGE': 2,
            'G': 2,
            'YELLOW WHT': 2,
            'BRN WHT ON CHEST': 2,
            'BLK WHT ON CHEST': 2,
            '1 TAN': 2,
            'BRN BLK TABBY': 2,
            'ORN': 2,
            'BLK FACE': 2,
            ' MULTI': 2,
            '1GRY,1BLK,1GRY': 2,
            'GRYBLK': 2,
            'GRY WHT TAN': 2,
            'WHITE TAN': 2,
            'BRWN EYE': 2,
            'ORNAGE TABBY': 2,
            'VLACK': 2,
            'WHTE': 2,
            '.WHITE': 2,
            'BLAKC': 2,
            'SANDY': 2,
            'BLACK BRINDLE': 2,
            'TAN\\': 1,
            'BRN GRAY': 1,
            'BLK EHT': 1,
            'BLK TAN OR': 1,
            'TIGER STRIP TAN': 1,
            'BRWN PATCH BY THE EYE': 1,
            'GYR': 1,
            'YELLOW BELLY WATER': 1,
            'BRN WHT HEAD': 1,
            'WHT BRN SPOT': 1,
            'BLK WHT SPOTS': 1,
            'BRWN TAB': 1,
            'ORANG BLK': 1,
            'WHT TAN BLK GY': 1,
            '1BLK 1TAN 1CRM': 1,
            'GRY YELL WHT': 1,
            'BLK BRM=N': 1,
            '2 ORG': 1,
            ' 2 BLK': 1,
            'CHOCLATE': 1,
            ' BLK SPOT': 1,
            'BRWNBLK': 1,
            'TABBY GREY': 1,
            'PPINK': 1,
            'CHOCOLATE ': 1,
            'RED BRINDLE': 1,
            'WHTGRY': 1,
            'BRO': 1,
            'MULTIPLE': 1,
            'BROWN GRAY': 1,
            '1 BLK 2 GRY': 1,
            'LITTLE BLK': 1,
            'BRWNWHT': 1,
            'BRN TABBY WHT': 1,
            'BRW': 1,
            'TAN.BRWN': 1,
            '1 GRY, 1 CALICO': 1,
            'DARK TAN': 1,
            'WHT`': 1,
            'GREYWHT': 1,
            'BLK BLK': 1,
            'DK BRWN': 1,
            'BRWN WHT BLLK': 1,
            'YELLOW.WHT': 1,
            'TAN.WHT': 1,
            ' BLK MUZZLE': 1,
            'BLK- WHT FEET': 1,
            'BLK-  WHT CHEST': 1,
            'WHT- BRWN EYES': 1,
            'BRWN- WHT CHEST': 1,
            'CHOC- WHT CHEST': 1,
            'WHT.GREY': 1,
            'TAAN': 1,
            'GREENYELLOW': 1,
            'PALOMINO': 1,
            'RUSTY': 1,
            'PURPLE': 1,
            ' TABBY': 1,
            'TAN GRY WHITE': 1,
            'COPPER HEAD': 1,
            'WHT DAPPLE': 1,
            'BBRWN': 1,
            'BRRWN': 1,
            'WWHT': 1,
            'BRWN*BLK': 1,
            'VBLK': 1,
            '4 BLK 1 TORTI': 1,
            'HT': 1,
            'WHT TABBIE': 1,
            'ORANGE (CALICO)': 1,
            'NUDE': 1,
            'TABBLE': 1,
            'NAKED': 1,
            'BROWN WHITE SPOTS': 1,
            'TNA': 1,
            'BREY': 1,
            'BLUE MARK': 1,
            'TS': 1,
            'BROWNISH': 1,
            'SALOTE': 1,
            'REDDISH TAN': 1,
            'TOURQVIS': 1,
            'BRWN SPOT': 1,
            'BLACK,BROWN,WHITE': 1,
            'GREY TADDY': 1,
            'LIGHT GREEN': 1,
            ' BLACK SPOTS': 1,
            '1 TORT': 1,
            'I 2 BLACK': 1,
            'SKIN': 1,
            'BROWN AND GRAY': 1,
            'BAY-BLK': 1,
            'MUREL': 1,
            'ORH': 1,
            'BROWN, BLACK AND WHITE': 1,
            'BROWNB TAB': 1,
            'LEOPARD SPOT': 1,
            'B;LACK': 1,
            'WHITGE': 1,
            'L TAN': 1,
            'WHITE SOCK BLK EYES': 1,
            ' BLK FACE & NOS': 1,
            'D GREY W': 1,
            ' WHITE BLAZ F LG': 1,
            'L BRN': 1,
            'BLACK MOZZ': 1,
            ' L FRONT PAWS': 1,
            ' BLACK FACE': 1,
            'L BROWN ': 1,
            ' BLACK NOSE': 1,
            'ALL BROWN': 1,
            'BLK NOSE WHT': 1,
            ' CHEST WHT': 1,
            'WHITE BLAZE': 1,
            'WHITE NECK BLAZ': 1,
            'BLUUE': 1,
            'COLOR': 1,
            'DARK & LIGHT BROWN': 1,
            'BROWNBRINDLE': 1,
            'WHEATEN': 1,
            'TAN FACE & TAIL': 1,
            'W\\HITE': 1,
            'WHITE STRIPE FACE': 1,
            'BLACK BODY WHITE FACE': 1,
            'WHAT TABBY': 1,
            'YELLOW SPOTTED': 1,
            '3 GRAY TABBY AND 1 BLACK': 1,
            'LT BRWN': 1,
            'SMOKE GRAY': 1,
            'BLK YELLOW BELLY': 1,
            'BLK GRY TABBY': 1,
            'BRN GR Y': 1,
            'BLU GRY': 1,
            'BLK YELLW': 1,
            'BLU WHT GRY': 1,
            'BRINFLE': 1,
            'BRWN ': 1,
            'BLK WHT GREEN RED': 1,
            ' LITTLE WHT': 1,
            ' GREY TABS': 1,
            'UNK': 1,
            'TAM ': 1,
            'GREY EARS': 1,
            'STRIP': 1,
            '\\RED': 1,
            'YELOW': 1,
            'WHTG': 1,
            'BLUE J': 1,
            'GGRY': 1,
            'GOLDISH': 1,
            'GREYMARBLE TABBY': 1,
            'GREY MARBLED TABBY': 1,
            'GREY MARBLED': 1,
            'WHI': 1,
            'RN WHT': 1,
            'WHT BRN TABBY': 1,
            'CHO BRINDLE': 1,
            'WTH BRN BLK': 1,
            'SABLE WHT': 1,
            'HAIRLESS': 1,
            'WHT OR': 1,
            'W GR': 1,
            'BLJ': 1,
            'TNA BLK': 1,
            'DRK BRN': 1,
            'TABBY GRY WHT': 1,
            'MARBLED GRAY': 1,
            'CATO 2BLK GRY': 1,
            ' ORANGE': 1,
            'BROWN AND BLACK': 1,
            'BLACK AND BROWN': 1,
            'BRN LK': 1,
            'GRY SPOTS': 1,
            ' B': 1,
            'GRAY BLK': 1,
            'BRINDLE LONG HAIR': 1,
            'ORG TAIL': 1,
            'BK WHT OR': 1,
            'NO HAIR': 1,
            'MIXED TORT': 1,
            'NR TAN WHT': 1,
            'BLUE GRAY': 1,
            '2BLK,1 WHT,1BEIGE': 1,
            'WHT BLK BEIGE': 1,
            '1 BRWN, 1OR': 1,
            'BLK WHT FEET': 1,
            'WHT GR': 1,
            'CHARCOAL BRN': 1,
            'GRY BLK BRN': 1,
            'BRIN': 1,
            'BR ': 1,
            'GRY,BLK': 1,
            'BRWN, BLK,BLK': 1,
            'BLK WHT PAWS': 1,
            'TAN*': 1,
            'BK TAN': 1,
            ' WHT ON CHEST': 1,
            'WHT, TAN,BLK': 1,
            'TAN WHT FACE': 1,
            'FT': 1,
            'BRN WIRE HIRE': 1,
            'BBROWN': 1,
            'TAN BRWN': 1,
            'WHITE WI ORANGE TIPS': 1,
            'TAN RED BRN': 1,
            'GRAY-WHITE': 1,
            'GRY RED WHT': 1,
            'BLK GRY BLK': 1,
            'BFRWN': 1,
            'WHT BLU': 1,
            '1 GRY, 1 BLK, 1GRY': 1,
            'DRK BRN WHT': 1,
            'BUCKSKIN': 1,
            'WHR': 1,
            'BRN RED': 1,
            'BLQACK': 1,
            'BLUE-WHT': 1,
            'YELLOW DOTS': 1,
            'BLK GRN WHT RED': 1,
            'BLK BRN TABBY': 1,
            'BRINDLE BEIGE': 1,
            'WHT BLUE': 1,
            'GRY W': 1,
            'GREY TAB': 1,
            'W\\HT': 1,
            'BLKK GRY': 1,
            'BRN.BLK': 1,
            'SPECKLED': 1,
            'gry tan': 1,
            'brwn': 1,
            'WITH BRN EYES': 1,
            'YELL WHT CHEST': 1,
            '1 BLK, 2 TAN': 1,
            '2 BLK,1 GRY,1 WHT': 1,
            'normal': 1,
            'BRN BLK WH': 1,
            'BRWN,BLK,BLK WHT': 1,
            'GRY BRINDLE': 1,
            'BLK BRN GREEN': 1,
            'MALLARD': 1,
            '1-BLK': 1,
            '2-BLK': 1,
            'WHITE FEET AND CHES': 1,
            'CLAICO': 1,
            'WHR GRY': 1,
            'RED STRIPES': 1,
            '2WHT': 1,
            'GRY2BLK': 1,
            'yellow': 1,
            'WHT GRAY': 1,
            'TAN YELLOW': 1,
            'FAIR': 1,
            'BRN WHT BLAZE': 1,
            'CAL TAB': 1,
            'BRNN BLK': 1,
            'BRY BLK': 1,
            'BKK': 1,
            '2GRY1WH2BLK1SIA': 1,
            'BLK TEAL': 1,
            'MOSTLY BROW': 1,
            'GRAY SPECKELED': 1,
            'WHT BLK PATCH': 1,
            'GOLD BRINDLE': 1,
            'BK GOLD': 1,
            'CHOC BRINDLE': 1,
            'TAN VLK': 1,
            'GOLDEN WHT': 1,
            'BOWN': 1,
            'GREEN BLK': 1,
            'WNT': 1,
            'BLAK WHT': 1,
            'WHR BLK': 1,
            'LHT BRN': 1,
            'TAN-WHT PAWS': 1,
            'THE': 1,
            'CHOCOALTE': 1,
            'TAN BRON': 1,
            'BLKWT': 1,
            'CREAN': 1,
            'BKACK.GREY': 1,
            'BL BRN': 1,
            'GREY BLK TAN': 1,
            'OR,OR': 1,
            'WH,TS,GRY': 1,
            'BRN  WHT': 1,
            'BLUE GRY': 1,
            'BLK TAN RED': 1,
            'BRN BLK BRINDLE': 1,
            'RED BRN WHT': 1,
            'GREEB': 1,
            'YELLOW ': 1,
            '1BLK': 1,
            'WHT,2CREAM': 1,
            'YELLOW SPOT': 1,
            'TIGER BLK TAN': 1,
            'RED-WHT': 1,
            'GRY RAB WHT': 1,
            'BLKBRWN': 1,
            'EY ': 1,
            'GRN BLK': 1,
            'WHT GRY TAN': 1,
            'WHITE AND LIGHT ORANGE': 1,
            'TAN WHT BRN': 1,
            'ORG,WHT': 1,
            'TAN GRY BRN': 1,
            'BEIGE SPOTTED': 1,
            'WHT BLK SPTS': 1,
            'WHTY': 1,
            'TABBY WHT': 1,
            'WHIITE ': 1,
            'BL YEL': 1,
            'WHT  BLK': 1,
            'BLJK': 1,
            'TAN GREY': 1,
            'GREY DAPPLE': 1,
            'WHT-CALICO': 1,
            'GRY BKL': 1,
            'DK GRAY': 1,
            'WHTBRWN': 1,
            ' WHT ': 1,
            'WHT BLK GRY TAN': 1,
            'BRN  BLK': 1,
            'YEL (SHORT HAIR)': 1,
            'BRINDLE BLK': 1,
            'WHT  TAN': 1,
            'RUSTY BROWN': 1,
            'GRY CREAM': 1,
            'DARK BLUE ': 1,
            'GRYYELLOW': 1,
            'TIGER STRIP': 1,
            'WHUTE': 1,
            'BNN': 1,
            'ORNAGE WHT': 1,
            'FRED': 1,
            'WHT,1 BRWN': 1,
            'TSN': 1,
            'LK': 1,
            'GRY RED': 1,
            'WHT, 1 GRY': 1,
            '1 GRY, 1 BRWN': 1,
            'GRY Y': 1,
            'cream brn': 1,
            'TAM WHT': 1,
            'WHT, BLK': 1,
            'BLK.GRY': 1,
            'SHITE': 1,
            'BLK WHT GRY': 1,
            'BLK GRY TAN': 1,
            'BLK WHT TABBY': 1,
            'brindle': 1,
            'WHITE AND GREY': 1,
            'BNLK': 1,
            'WHT BRWN SPOTS': 1,
            'GOLD,GOLD,BK,WT': 1,
            'gray': 1,
            'WHT3GRY': 1,
            'WHT,1BK': 1,
            '2ORG': 1,
            'WHT,1 BRWNBKWH': 1,
            'SILVER BLK': 1,
            'BLUE,BRINDLE,WHITE': 1,
            'BLG': 1,
            'SPOTTED': 1,
            'TAN  WHT': 1,
            'RD': 1,
            'DK DRY WHT': 1,
            '1BLK,2BLK': 1,
            'TAN,1BR': 1,
            'BRN WHT TAN': 1,
            'OORG': 1,
            '2 BRN': 1,

            'GRAY.DK GRAY': 1,
            'GRY SPOTTED': 1,
            'BLK, 2 BLK': 1,
            'TAN CHOC BRINDLE': 1,
            'BRWB': 1,
            'DK': 1,
            'LGT BRN': 1,
            'TRI COLORED': 1,
            'BRN WHT PAINT': 1,
            'BRN PATTERN': 1,
            'TRI- COLORED': 1,
            'COPPERHEAD': 1,
            'BLK GY WHT': 1,
            '1 BLK, 1 YELLOW': 1,
            'GRY TAN WHT BLK': 1,
            'GRY YELLOW': 1,
            'ORG,BLK,WHT': 1,
            'YEL(LONG HAIR)': 1,
            'CHOC WHT': 1,
            'WHT SPOTS': 1,
            'WHT,BRWN': 1,
            'BRM': 1,
            'BLACK BROWN GREY': 1,
            'MULTI COLORED BRN': 1,
            'BLK ORAN TAN WHT': 1,
            'BRN BLK FACE': 1,
            '1 WHT': 1,
            'BLK 7-MULTI': 1,
            'BLUE.NO HAIR': 1,
            'GRU': 1,
            'calico': 1,
            ' BLK NOSE': 1,
            'TAN STRIPE': 1,
            'BLUISH': 1,
            'BLK.': 1,
            'BLK-WHT SPOT': 1,
            'TABN': 1,
            'RED*': 1,
            'LT BRN': 1,
            'DARK': 1,
            'BRINDLE BLK WHT': 1,
            'GREY.BRN': 1,
            'BRN WH': 1,
            'brn': 1,
            'CHOL': 1,
            'CREAM ': 1,
            'BLK YELL': 1,
            'STRIPE': 1,
            'ORANGE TABY': 1,
            'RUSTY BRN': 1,
            'ORANGE CREAM': 1,
            'GEY TABBY': 1,
            'WHT BLK BRN TABBY': 1,
            'BRN BLK TAN EHT': 1,
            'GARY ': 1,
            'WHT BLJK': 1,
            'BLK TAN WHT GRY': 1,
            'BRN BLK STRIPE': 1,
            'WHT DIOMOND': 1,
            'WHW': 1,
            'BLK GREY TAIL': 1,
            'BLK GOLD BRINDLE': 1,
            'BLK WLT': 1,
            'MULTI WHT': 1,
            'MARB': 1,
            'REDDISH ORANGE': 1,
            'GRY BLK SPTS': 1,
            'GR W': 1,
            'BRN WHT BLK NOSE': 1,
            'TAN BLK NOSE': 1,
            'GRY,BRN TABBY': 1,
            '1 BLK, 1 GRY': 1,
            'RN': 1,
            'GTY': 1,
            'BROWN W': 1,
            'BRN ORANGE TAN': 1,
            'BLK MOUTH': 1,
            'WHT BRINDLE SPOTS': 1,
            'BKL WHT': 1,
            'BLUE TAN': 1,
            'BLK BRN OR WHT': 1,
            'LIGHT GRY': 1,
            'AND DARK': 1,
            'GRY  BLK': 1,
            'WHT GRY ORANGE': 1,
            'BRINDLW': 1,
            'BLK RAC': 1,
            'BLU WHT CHEST': 1,
            'SIVER GOLD': 1,
            'DARK BRN': 1,
            'BLK TAN FEET': 1,
            'orange': 1,
            'white': 1,
            'PINK GRY': 1,
            'BRN WHT NOSE': 1,
            'GRAAY': 1,
            'W,GR': 1,
            'WHITE WITH SPOTS': 1,
            '3 BLK': 1,
            '3 TABBY': 1,
            'WHT BLACK EYES': 1,
            'BLK-WHT': 1,
            'BKK BRN': 1,
            'DAPPLE': 1,
            'ORANGE BLK CALICO': 1,
            'BRWN,BLK,BLK': 1,
            'GRYBRN': 1,
            'NONE': 1,
            'BRN BLK STRIPED': 1,
            'BLK YEL': 1,
            'BLK TN': 1,
            'STAND': 1,
            'CHOOLATE WI BLK SPOTS': 1,
            'WHT TAN EAR': 1,
            'WHT MALLARD': 1,
            'WHT BK': 1,
            'GOLDEN BRN': 1,
            'WHT BK GRY': 1,
            'BEN BLK WHT': 1,
            ' SILVER': 1,
            'BRN WT': 1,
            ' 2 BRWN': 1,
            'BLK TN WHT': 1,
            'WH,1BLK': 1,
            'BRNF': 1,
            'ROWN': 1,
            'BRINDLE WHT BLK': 1,
            'WHT BLK BEN': 1,
            'BRNE': 1,
            'BLK, GRY': 1,
            ' TAN BLK WHT': 1,
            'WHT BLK SPOTS': 1,
            'TAN AND BRN SPOTS': 1,
            'ORG BLK WHR': 1,
            'BLK  WHT': 1,
            '2 GRY, 2 LK': 1,
            'DARK RED': 1,
            'TAN BRN BLK': 1,
            'BRN,BLK,WHITE': 1,
            'WHT,GRY': 1,
            'WHT GRY BLK TAN': 1,
            'BKL GRY': 1,
            'RUSTY RED': 1,
            'BLK WH': 1,
            'BK WHT CHEST': 1,
            'WHT BEN': 1,
            ' BLK TAIL': 1,
            'WHT BLK SPOT': 1,
            'MUTED CALICO': 1,
            'BROW N': 1,
            'TAMWHT': 1,
            'GRY\\WHT': 1,
            'GRY PINK': 1,
            'BLK,2 BLK': 1,
            'SPECKELED': 1,
            'RED BRN': 1,
            'WHT ON TOES': 1,
            'GRA Y': 1,
            'WITH GREEN EYES': 1,
            'GRY WHT BLK': 1,
            'BREN': 1,
            'BRN BLK GRY': 1,
            'FAWN WHT CHEST': 1,
            'GREY,BRINDLE': 1,
            'BLK GRY SPOTTED': 1,
            'YEL WHT': 1,
            'BLU WHT COLLR': 1,
            '3TAN': 1,
            'RED WHT BLK': 1,
            'WHT TAN SPECKLES': 1,
            'REDDISH ': 1,
            'BLK STRIPED': 1,
            ' BBLK': 1,
            'BLKBRN': 1,
            'TORTOISESHELL': 1,
            'CHOCO BRN': 1,
            'BLK BRN FEET': 1,
            'CHOC BRN': 1,
            'GREEN STRIPES': 1,
            'WHITE WI BRN SPOTS': 1,
            'BTWN': 1,
            'WHT W ': 1,
            'GRY YEL': 1,
            'TAN WHT MOUTH': 1,
            'BL;K': 1,
            'CHAMPAGNE': 1,
            'D. BROWN BRINDLE': 1,
            '2 BLACK AND 1 TAN': 1,
            'TAN.WHITE': 1,
            'WHITEBROWN SPOTS': 1,
            'WHAT': 1,
            'BROWN SPOTTED': 1,
            'GRAYBLACK': 1,
            'TAN EARS': 1,
            'N ROW': 1,
            'TAN(GOLDEN)': 1,
            'BROWN.WHITE': 1,
            'GRAY.BROWN': 1,
            'CATO': 1,
            'CHA': 1,
            'WHITE FEET': 1,
            'BL,ACK': 1,
            'TAN TORTI': 1,
            'GRAY TAB': 1,
            'BLCK': 1,
            'SIAMESE GRAY': 1,
            'L. GRAY': 1,
            'D. GRAY': 1,
            'LAB': 1,
            'MALE': 1,
            'APRO': 1,
            'WHITE BROWN': 1,
            'OR BLK WHT': 1,
            'GREY TAN WHITE': 1,
            'GRY OR': 1,
            'GRY BRWN': 1,
            'ORANGE 5 WHITE 2 BLACK': 1,
            'BLACK TORTOISE': 1,
            'B ROWN': 1,
            'ORANGE SPOTS': 1,
            'WHITE W': 1,
            'BLUE SPOTS': 1,
            'TORTOISE SHELL': 1,
            'BLACK.BROWN': 1,
            'WHITE.BLACK': 1,
            'ORANGE.WHITE': 1,
            'WHITE MERLE': 1,
            'L. GRAY TABBY': 1,
            'BLACK MARK': 1,
            'BLUE DAPPLE': 1,
            '  BLK': 1,
            'BLACK TIGER': 1,
            'WHITE STRIPE': 1,
            ' (DARK)': 1,
            'BLAC': 1,
            'TRI-CALICO': 1})

In [ ]:
edit_replace(('tanwht'), 'tan/wht')
edit_replace(('blkwht'), 'blk/wht')
edit_replace(('graywhite'), 'gry/wht')
edit_replace(('brnblk'), 'br/bl')
edit_replace(('grywht'), 'gry/wht')
edit_replace(('gryblk'), 'gry/blk')

In [ ]:
characters = ('///', '//')
edit_replace(characters, '/')

In [ ]:
# white: wht
whites = ('white', 'cream', 'whute', 'whit', 'whitg', 'wht','whtie', 'wwht', 'what','wt')

edit_replace(whites, 'wht')

In [ ]:
# blacks: bl
blacks = ('black', 'blk', 'blkl', 'charcoal', 'bllk', 'balck', 'blavk', 'bkl', 'vlack', 'blavck', 'blkc')

edit_replace(blacks, 'bk')

In [ ]:
# browns: br
browns = ('brown','brrwn', 'brwn', 'brn', 'choc', 'chocolate', 'brwon', 'choclate', 'brw', 'brownish', 'brow', 'brnlate', 'brnish', 'brnolate', 'brnm', 'brolate', 'brblk','chestnut', 'cho', 'brrwn')

edit_replace(browns,'br')

In [ ]:
# greys: gry
greys = ('grey', 'gray', 'grrey', 'grey', 'gry')

edit_replace(greys, 'gry')

In [ ]:
# tans/beige/blonde: tn
tans = ('beige', 'blonde', 'golden', 'tan\\', 'goldish', 'tna', 'gold', 'tan', 'taan', 'sandy')

edit_replace(tans, 'tn')

In [ ]:
# stripes: stripe_tabby
tabbies = ('tabby','tiger', 'tabble', 'taddy', 'tabs', 'tabbie')

edit_replace(tabbies, 'tab')

In [ ]:
# calico = cal
edit_replace(('calico'), 'cal')

In [ ]:
# striped: strip
# edit_replace(('stripe'), 'strip')

In [ ]:
# orange: or
oranges = ('orange', 'orn', 'copper', 'orang', 'orage', 'ornage')

edit_replace(oranges, 'org')

In [ ]:
# brindle/fawn: brndl
brindles = ('brindle', 'fawn', 'merle', 'torti', 'marbled', 'tortie', 'bridle', 'brndl', 'brndle', 'brndlee','leopard', 'tortoise', 'brindlw', 'brindlde')

edit_replace(brindles, 'bndle')

In [ ]:
# green: grn
edit_replace(('green'),'gn')

In [ ]:
# yellow: yel
edit_replace(('yellow','yelow','yellw', 'yell', 'ylw'), 'yel')

In [ ]:
# stop words and not decribing color (* is there a better way to do this?)
to_drop = ('chest','and', 'normal', 'nose', 'paws', 'mouth', 'with', 'tail'
           , 'belly', 'head', 'ears', 'eyes', 'face', 'feet', 'color', 'standard',
          'fred', 'pattern', 'newbord', 'mostly', 'front', 'all', 'body')

edit_replace(to_drop, '')

In [ ]:
# other and unknown in nan category
unknowns = ('other', 'unknown', 'nan')

edit_replace(unknowns, 'NaN')

##### alphabetizing and 'other' feature for low value counts

In [ ]:
# defining counts to separate at 20 value counts
counts = df['color'].value_counts()

In [ ]:
#df['color'] = df['color'].apply(lambda x: '/'.join(sorted(x.split('/'))))

In [ ]:
df['color'] = [','.join(sorted(i.split(','))) for i in df['color']]

In [ ]:
# color combinations with less than 20 counts will be categorized as 'other'
other_color_df =df[df['color'].isin(counts[counts < 20].index)]

other_color_df['color'] = 'other'

In [ ]:
#should be one value: 'other'
other_color_df.color.value_counts()

In [ ]:
# color values with over/equal to n counts
colors_df =df[df['color'].isin(counts[counts >= 20].index)]

In [ ]:
#should be n or more per value
colors_df.color.value_counts().tail()

In [ ]:
#joining the 'other color' and 'all colors' dfs
ec_df = pd.concat([colors_df,other_color_df ])
len(ec_df)

In [ ]:
#all should have a minimum n value counts, 'other' should now be included
df = ec_df.copy()
df.color.value_counts()

In [ ]:
stop

#### breed

In [ ]:
df.breed.value_counts()

In [ ]:
df['breed'] = df['breed'].apply(lambda x : x[1:] if x.startswith("X") else x)

In [ ]:
# # removing extra spaces and lower casing 
df['breed'] = df['breed'].astype(str)
df['breed'] = df['breed'].str.strip()
df['breed'] = df['breed'].str.lower()

df['breed'] = df.breed.apply(lambda x: x.replace(' ', '_'))

In [ ]:
sorted_breeds=df.sort_values('breed')
sorted_breeds.breed.unique()

*_some of these breeds sound very similar(ie. staffordshire bull terrier vs american staffordshire terrier, doberman vs doberman pinscher, but I assure you I have investigated the questionably similar breeds before reassigning to the same variable._

In [ ]:
#replacing alternate spellings of same breed
df = df.apply(lambda x: x.replace(' ', '_'))
df = df.apply(lambda x: x.replace('bulldog_(english)', 'bulldog_english'))
df = df.apply(lambda x: x.replace('chow_chow', 'chow'))
df = df.apply(lambda x: x.replace('boston_terrier', 'boston'))
df = df.apply(lambda x: x.replace('poodle_-standard', 'poodle'))
df = df.apply(lambda x: x.replace('basset_hound', 'basset'))
df = df.apply(lambda x: x.replace('rottweiller', 'rott'))
df = df.apply(lambda x: x.replace('rottweiler', 'rott'))
df = df.apply(lambda x: x.replace('pit_bull', 'pitbull'))
df = df.apply(lambda x: x.replace('pitbull', 'pit'))
df = df.apply(lambda x: x.replace('_german_shepherd', 'german_shepherd'))
df = df.apply(lambda x: x.replace('_retriever', 'retriever'))
df = df.apply(lambda x: x.replace('labrador_retriever', 'labrador'))
df = df.apply(lambda x: x.replace('poodle_(min/toy)', 'poodle_min/toy'))
df = df.apply(lambda x: x.replace('poodle_standard', 'poodle'))
df = df.apply(lambda x: x.replace('catahoula_hound', 'catahoula'))
df = df.apply(lambda x: x.replace('english_bulldog', 'bulldog_english'))
df = df.apply(lambda x: x.replace('bulldog_(french)', 'bulldog_french'))
df = df.apply(lambda x: x.replace('boer', 'boxer'))
df = df.apply(lambda x: x.replace('fo_terrier', 'fox_terrier'))
df = df.apply(lambda x: x.replace('shar_pei', 'sharpei'))
df = df.apply(lambda x: x.replace('alaskan__malamute','alaskan_malamute'))
df = df.apply(lambda x: x.replace('brittany_spaniel', 'brittany'))
df = df.apply(lambda x: x.replace('fohound', 'foxhound'))
df = df.apply(lambda x: x.replace('other', 'unknown'))
df = df.apply(lambda x: x.replace('nan', np.NaN))

In [ ]:
# has unique values been reduced?
len(sorted_breeds.breed.unique())
len(df.breed.value_counts())

#### condition, disposition, size, species, temperment

In [ ]:
cdsst ='species', 'size', 'condition', 'temperment', 'disposition'

In [ ]:
# for col in cdsst:
#     df[col] = df[col].apply(lambda x: x.replace(' ', '_'))

In [ ]:
#
for col in cdsst:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.strip()
    df[col] = df[col].apply(lambda x: x.replace(' ', '_'))
    df[col] = df[col].str.lower()

In [ ]:
for col in cdsst:
    print('--',col.capitalize(),'--\n',df[col].value_counts(),'\n')

### service code, request type (service_type)

In [ ]:
sr = ('service_code', 'request_type')

In [ ]:
for col in sr:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.strip()
    df[col] = df[col].replace(' ', '_')
    df[col] = df[col].str.lower()

In [ ]:
#replaced by clean_str

# for col in sre:
#     df[col] = df[col].str.strip()
#     df[col] = df[col].str.lower()

In [ ]:
for col in sre:
    print('--',col.capitalize(),'--\n',df[col].value_counts(),'\n')

In [ ]:
# creating column that fills in missing values from service code using existing values from request type
df['service_type']=df['service_code'].mask(pd.isnull, df['request_type'])

# dropping merged columns
df.drop(columns=['service_code', 'request_type'], inplace=True)

In [ ]:
df.service_type.value_counts()

## dropping columns

Since service code and request type are providing what appears to be identical values, and value count ratios also roughly match, I will fill in service code's 'na's with values from request type where available. I did it in that order because service code had less 'unknown' and 'na'.

In [ ]:
# # profile report
# pandas_profiling.ProfileReport(df)

# observations from pandas profile report:

# - lots of columns missing data

# unneeded columns:
# - ARRIVAL TIME- has most at 00:00
# - AVAILABLE TIME- most at 00:00
# - CALL TAKER
# - COLLAR
# - COLLAR COLOR
# - IMPOUND NUMBER
# - INCIDENT TIME
# - PET NAME
# - REMARKS(too little data provided(3%), existing data doesn't appear to be useful)
# - VACCINATION DATE(99.5% missing)
# - VACCINATION NUMBER
# - ZIP CODE


# columns needing work or consider exclusion:
# - AGE 55% missing
# - X in front of BREED- cross breed?
# - CONDITION 31% missing
# - DISPATCHED OTHER and DISPATCHED SITUATION- what does it mean?
# - EQUIPMENT NUMBER - what does it mean?
# - FILE NUMBER - probably not useful
# - REQUEST TYPE and SERVICE CODE appear to provide same content
# - SEX contains only 37% M or F, other data missing or irregular
# - SIZE 30% missing
# - SPECIES 28% missing
# - TEMPERMENT 30% missing
# - COLOR 29% missing
# - LOCATION and COMPLAINT STREET can be merged somehow?

In [ ]:
#percent missing values per column
round(df.isna().sum()/len(df)*100)

With there being such little information on vaccination, those columns won't be looked at further. I decided to also not explore the remarks, collar features, and pet names as those features were all missing substantial amounts of data and I don't see them offering much value.

In [ ]:
pre_drop_df = df.copy()

In [ ]:
df.drop(columns=['vaccination_date', 'vaccination_number', 'remarks', 'collar', 'collar_color', 'pet_name'], inplace=True)

In [ ]:
# # removing columns with more than 1/3 missing data
# df.dropna(axis=1, thresh=(len(df)//1.5), inplace=True)

#df = df.dropna(axis=0)

In [ ]:
# lower casing and eliminating characters, moved to later in cleaning
# for now, saved for later, but could also do this to only select columns to prevent issues

# df = df.apply(lambda x: x.astype(str).str.lower())
# df = df.apply(lambda x: x.astype(str).str.strip())
# df = df.apply(lambda x: x.astype(str).str.replace(' ', '_'))

In [ ]:
df.shape

# __Explore__

### datetime features

#### times

There are 5 different time categories. Their descriptions are self descriptive, although the 'available time' wasn't clear at first. That category marks the time that the officer was finished with the incident and once again available

In [ ]:
# DELETE CELL -- assigning time columns- done previously already
#time_cols= [col for col in df.columns if 'time' in col]
#time_cols



t_df = df[['incident_time'
                    ,'dispatched_time'
                     ,'arrival_time'
                     , 'available_time'
                     ,'impound_time']]

# t_df.columns

# comparing incident features by count/time
for col in time_cols:
    plot_dtcount(t_df, col, overlap = False, labels = time_cols)

For the most part, the times look consistent, but at 00:00, there are a couple of outliers. If using those time features, the 00:00 times will be excluded.

In [ ]:
# plotting frequency of each time feature:

for col in time_cols:
    plot_dtcount(df, col
                 , (0, 600)
                 , labels = time_cols)

Around 9am-ish it reaches a peak, then once again rises between 12pm-4pm

In [ ]:
# # DELETE THIS CELL--comparing distribution of time features(**NEEDS WORK**)

# comp_counts(time_cols, time_cols)

# f, axes = plt.subplots(1, 5,figsize=(30,5))
# plt.xlim(-5,50)

# for col, ax in zip(time_cols,(range(0,5))):
#     sns.distplot((df[col].dropna().value_counts()), ax=axes[ax])

#### dates

In [ ]:
date_cols= [col for col in df.columns if 'date' in col]
date_cols

In [ ]:
sns.set(style="darkgrid")

In [ ]:
f, ax = plt.subplots(figsize=(6.5, 6.5))
sns.despine(f, left=True, bottom=True)
#clarity_ranking = ["I1", "SI2", "SI1", "VS2", "VS1", "VVS2", "VVS1", "IF"]
sns.scatterplot(x='incident_time', y= 'arrival_time'
    #x="incident_date", y="incident_time",
                ,hue="temperment"
                #, size="depth",
                #,palette="ch:r=-.2,d=.3_r"
                #hue_order=clarity_ranking,
                ,sizes=(1, 3), linewidth=0,
                data=df.head(5000), ax=ax, alpha=.2)
ax.set_xticklabels('')
ax.set_yticklabels('')

In [ ]:
for col in date_cols:
    plot_dtcount(df, col, overlap = False, labels = date_cols)

In [ ]:
df = df.sort_values(by='inc_dt')

In [ ]:
f, axes = plt.subplots(1, 3,figsize=(30,5))
for col, ax in zip(date_cols,(range(0,3))):
    
    sns.distplot((df[col].dropna()).value_counts(), ax=axes[ax]);

In [ ]:
# #comparing distribution of date features
# #comp_counts(date_cols, date_cols)

# sns.set(font_scale=1)

# f, axes = plt.subplots(1, 2,figsize=(15,3))
# sns.distplot(df['incident_date'].value_counts(), ax=axes[0], color='black', bins=40)
# sns.distplot(df['impound_date'].value_counts(), ax=axes[1], color='black', bins=40);
# #sns.distplot(df['disposition_date'].value_counts(), ax=axes[2], color='black', bins=40);

### names

In [ ]:
name_cols = ['call_taker', 'dispatcher', 'officer', 'disposition_officer']

In [ ]:
for col in name_cols:
    df[col] = df[col].str.strip()
    df[col] = df[col].replace(' ', '_')
    df[col] = df[col].str.lower()

In [ ]:
plot_counts(name_cols)

In [ ]:
df.drop(columns = name_cols, inplace=True)

#### condition, disposition, size, species, temperment

In [ ]:
#value counts of species, size, condition, and temperment features
ssct_df = df[['species', 'size', 'condition', 'temperment', 'disposition']]

In [ ]:
plot_counts(ssct_df)

In [ ]:
# correlations between species, size, condition, and temperment
corr_plot(ssct_df, minv=-.5, maxv=.5)

#

In [ ]:
# how much data would be sacrificed if dropping 'unknown'
len(df[~df.eq('unknown').any(1)])/ len(df)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
#how much data would remain of df if drop na and 'unknowns'
len(df.dropna()[~df.eq('unknown').any(1)])/len(df)

In [ ]:
# drop rows with any unknowns
df = df[~df.eq('unknown').any(1)]

In [ ]:
len(df)

In [ ]:
df.condition.value_counts()

In [ ]:
df.temperment.value_counts()

In [ ]:
df.replace('nan', np.NaN, inplace=True)

In [ ]:
df.temperment.replace('nan', np.NaN, inplace=True)

In [ ]:
df.temperment = df.temperment.replace('scared', 'nervous')

In [ ]:
df['size'].value_counts()

In [ ]:
#cts_df = df[['condition', 'temperment', 'size']]

#corr_plot(cts_df, -.3, .3)

### incident features

In [ ]:
df.service_type.value_counts()

In [ ]:
sorted_service=df.sort_values('service_type')
sorted_service.service_type.unique()

In [ ]:
# unifying service types

# dangerous animal situation
df['service_type'] = df['service_type'].apply(lambda x: x.replace('dangerous_animal_sit.', 'dangerous_animal_sit'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('dangerous_animal_situation', 'dangerous_animal_sit'))

# cruelty cases
df['service_type'] = df['service_type'].apply(lambda x: x.replace('cruelty_case', 'cruelty'))

# stray animals
df['service_type'] = df['service_type'].apply(lambda x: x.replace('stray_an._secured', 'stray_an_secured'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('stray_animal_secured', 'stray_an_secured'))

#loose animal and loose could include loose livestock, so I will assign all to 'loose'
df['service_type'] = df['service_type'].apply(lambda x: x.replace('loose_live_stock', 'loose_livestock'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('loose_livestock', 'loose'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('loose_animal', 'loose'))

# injured - injured animal and injured dog all under injured
df['service_type'] = df['service_type'].apply(lambda x: x.replace('injured_animal', 'injured'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('injured_dog', 'injured'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('hit_by_car', 'injured'))

#
df['service_type'] = df['service_type'].apply(lambda x: x.replace('delivered_tags', 'deliver_tags'))
df['service_type'] = df['service_type'].apply(lambda x: x.replace('delivered_tags', 'deliver_tags'))

#### equipment number

In [ ]:
df.equipment_number.value_counts()

### location related

The features describing location are: municipality, location, zip code, and complainant street.

The only column without missing values is the street feature. The usefulness of this feature in analysis is questionable, but if enough correlation exists, I could use it to fill in missing data in one of the other features with the most likely value.

In [ ]:
len(df.complainant_street.value_counts())

complainant street has no nas, but not sure if it provides value to analysis without a region

In [ ]:
#for col in loc_cols:
#    df.groupby(['complainant_street'])[col].value_counts().unstack().plot.bar(figsize=(14,7));

In [ ]:
#df.groupby(['zip_code'])['municipality_'].value_counts().unstack().plot.bar(figsize=(14,7));

# __IGNORE__

In [ ]:
stop

#### snippets I might come back to

In [ ]:
# # 

# # # how much data would remain after removing columns with more than 1/3 missing data
# df_drop_cols = (df.dropna(axis=1, thresh=(len(df))//1.5))
# len(df_drop_cols.columns)/ len(df.columns)
# #(len(df.dropna(axis=1, thresh=(len(df))//1.5)).columns)/len(df.columns)

# # # how much would then be left after then removing rows with more than 20 missing data
# len(df_drop_cols.dropna(axis=0, thresh=(20)))/len(df)

In [ ]:
# characters = ('�','_',"'", '-', '(', ')', '.', '\\', ',,', ',,,', '_/_', ' ', '  ', '//')

# edit_replace(characters, '/')

In [ ]:
#limiting colors to selected and also only with certain value count(no longer using this method)

#colors = ('wht', 'bk', 'gry', 'br', 'tn', 'spot', 'or', 'tab', 'blue', 'red', 'ylw', 'calico', 'tri', 'green', 'multi', 'dark', 'light', 'pink')

#ndf = df[~df['color'].isin([colors])]

#ndf = ndf[ndf.color.value_counts()>=20]

#ndf.color.value_counts()

In [ ]:
# replaced:



# # replacing spacing, commas, and dashes within string with '/'

# characters = (',', ' ', '-')
# edit_replace(characters, '/')

# #remove numbers and punctuation except '/'


#clean_str('color')

In [ ]:
# def clean_str(col, df=df):
# #    for col in cols:
#     df[col] = df[col].astype(str)
#     df[col] = df[col].str.strip()
#     df[col] = df[col].str.lower()
# #     if pattern= pattern= '[^A-Za-z_]+':
# #         df[col] = df[col].apply(lambda x: x.replace(' ', '_'))
#     # regex for letters and '_' only, unless pattern reassigned:
# #     if regex:
# #         pattern = pattern
# #         df[col] = [re.sub(pattern, '', i) for i in df[col]] 
# #     return df[col]

# # #         #print('--',col.capitalize(),'--\n',df[col].value_counts(),'\n')

In [ ]:
# Create datetime objects for each time (a and b)
dateTimeA = datetime.datetime.combine(datetime.date.today(), a)
dateTimeB = datetime.datetime.combine(datetime.date.today(), b)
# Get the difference between datetimes (as timedelta)
dateTimeDifference = dateTimeA - dateTimeB
# Divide difference in seconds by number of seconds in hour (3600)  
dateTimeDifferenceInHours = dateTimeDifference.total_seconds() / 3600

In [ ]:
# df = df.apply(lambda x: x.astype(str).str.lower())
# df = df.apply(lambda x: x.astype(str).str.strip())
# df = df.apply(lambda x: x.astype(str).str.replace(' ', '_'))
# df.replace('nan', np.NaN, inplace=True)
# df.replace('nat', np.NaN, inplace=True)

In [ ]:
# # maybe creating list of dog breeds, if wanting to analyze seperately from other animals
# dogs = ('pit', 'labrador', 'terrier', 'german_shepherd', 'shepherd', 'chihuahua', 'hound', 'rott'
#         , 'boxer', 'beagle', 'catahoula', 'chow', 'shih_tzu', 'dachshund', 'retriever', 'husky'
#         , 'yorkshire_terrier', 'american_bulldog', 'poodle', 'australian_shepherd', 'poodle_min/toy'
#         , 'collie', 'pomeranian', 'mastiff', 'golden_retriever', 'maltese', 'cocker_spaniel', 'healer'
#         , 'doberman_pinscher', 'miniature_pinscher', 'border_collie', 'schnauzer', 'great_dane'
#         , 'rat_terrier', 'akita', 'jack_russel_terrier', 'bulldog_english', 'spaniel', 'doberman'
#         , 'pug', 'pekingese', 'basset', 'dalmation', 'boston', 'weimeraner', 'lhasa_apso', 'pointer'
#         , 'rhodesian_ridgeback', 'sharpei', 'great_pyrenees', 'bull_terrier', 'bichons_frise', 'bloodhound'
#         , 'saint_bernard', 'springer_spaniel', 'sheepdog', 'alaskan_malamute', 'scottish_terrier'
#         , 'cairn_terrier', 'staffordshire_bull_terrier', 'setter', 'sheltie', 'cane_corso', 'whippet'
#         ,  'basenji', 'spitz', 'greyhound', 'walker_hound', 'siberian_husky', 'west_highland_terrier'
#         , 'american_eskimo', 'bull_mastiff', 'brittany', 'bluetick_hound', 'foxhound', 'australian_cattle'
#         , 'american_staffordshire_terrier', 'bulldog_french', 'australian_blue_heeler', 'bourvier_des_flanders'
#         , 'fox_terrier', 'wolf', 'coonhound', 'norweigian_elkhound')

In [ ]:
## nevermind -but may try to fix later for more universal functions to replace strings/ sequential characters
#
# #     for old_word in old_words:
# #         try:
# #            data = data.apply(lambda x: x.astype(str).str.replace(old_word, replacement_word))
#         for old_word in old_words:
#            data = data.apply(lambda x: x.replace(old_word, replacement_word))
            
# #        except:
# #            data = data.str.replace(old_word, replacement_word)
#
# def replace_breed(old_words, replacement_word):
#     for word in old_words:
#         df['breed'] = df.breed.apply(lambda x: x.replace(word, replacement_word))
#         #for word in old_words:
#           #  data = data.apply(lambda x: x.replace(word, replacement_word))

In [ ]:
# # (to maximize notebook screen size):
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
# #sns overlapping distplot
# def comp_counts(cols, labels):
#     sns.set(rc={'figure.figsize':(10, 5)})
#     plt.xlim(-5,100)
#     plt.title("times")
#     for col, label in zip(cols, labels):
#         sns.distplot(df[col].value_counts(), label=label, bins=40)
#     plt.legend()
#     plt.show();

In [ ]:

# [re.sub('[^A-Za-z/]+','', i) for i in df.breed]

# # # removing digits
# # def remove(list): 
# #     pattern = '[0-9]'
# #     list = [re.sub(pattern, '', i) for i in list] 
# #     return list
# # df['color'] = (remove(df.color))

# # replacing extra punctuations with '/'  (** look into more efficient regex methods**)
# characters = ('�','_',"'", '-', '(', ')', '.', '\\', ',,', ',,,', '_/_', ' ', '  ', '//')

# edit_replace(characters, '/')

In [ ]:
# # [^\P{P}-]+

# # #re.sub('[^A-Za-z/]+', '',df.breed)
# # def remove_numpunc(list): 
# #     pattern = '[^A-Za-z/]+'
# #     list = [re.sub(pattern, '', i) for i in list] 
# #     return list
# # # df['color'] = (remove(df.color))
# remove_numpunc(df.color)

In [ ]:
# alph_cols = df['color'].str.split('/')
# alph_cols = alph_cols.str()
# #alph_cols = alph_cols.sort()

# alpha_cols.apply(lambda x: x.replace(word, replacement_word))
# #df.color.apply(lambda x: x.replace(word, replacement_word))

# df['color'].apply(lambda x: ','.join(sorted(x.split(','))))

# result = df.color.sort_values().apply(lambda x: sorted(x))
# result = pd.DataFrame(result).reset_index(drop=True)
# result



#df['color'].str.split('/')

In [ ]:
# # for alphabetizing strings within values
# df['color'] = ['/'.join(sorted(i.split(','))) for i in df['color']]

#['/'.join(sorted(i.split(','))) for i in df['color']]

In [ ]:
df[df.duplicated()]

####  IGNORE:  *Pet names (just for fun)

Dropping columns with few non-nulls, but curious about Baton Rouge's most common pet names, keeping in mind only 1% of incident reports included a name.

In [ ]:
df.pet_name.value_counts().head(15)

'Max' and 'Coco' are tied at 17, but most lie within the single digits. One would assume most of these correspond to 'dog' or 'cat' species, do they satisfy that assumption?

In [ ]:
# percent of names provided in relation to species
p_names_only = df[['pet_name','species']]
p_names_only = p_names_only.dropna()
p_name_ratio = p_names_only['species'].value_counts()/df['species'].value_counts()
p_name_ratio.plot.bar();

Of the dataset as a whole, these are the percentages of species with names included in reports. It looks like livestock incident reports included names more often than cats. Not surprisingly, dogs overwhelmingly had their names included in the incident reports. 

However, due to the amount of missing data, no justifiable conclusions can be made from this alone.

___
another 'just for fun' thing:
looking at the disposition of animals with names on report:

In [ ]:
# percent of names provided in relation to species
d_names_only = df[['pet_name','temperment']]
d_names_only = d_names_only.dropna()
d_name_ratio = d_names_only['temperment'].value_counts()/df['temperment'].value_counts()
d_name_ratio.plot.bar();

# experimental joining dataset

## crime and unemployment

In [ ]:
# crime_df = pd.read_csv('Baton_Rouge_Crime_Incidents.csv')

In [ ]:
# unemp_df = pd.read_csv('BATO922URN.csv')

In [ ]:
# crime_df.head()

In [ ]:
# crime_df.info()

In [ ]:
# crime_df = pd.read_csv('Baton_Rouge_Crime_Incidents.csv')

In [ ]:
# unemp_df = pd.read_csv('BATO922URN.csv')

In [ ]:
# crime_df.offense_time

In [ ]:
# removing spaces and lower casing the column names
crime_df.columns = crime_df.columns.str.lower()
crime_df.columns = crime_df.columns.str.strip()
crime_df.columns = crime_df.columns.str.replace(' ', '_')

In [ ]:
# time columns to list
time_cols= [col for col in crime_df.columns if 'time' in col]

# covert time to hour/minute datetime format
for col in time_cols:
    crime_df[col] = pd.to_datetime(crime_df[col], errors='ignore', format="%H:%M")
    #.dt.time

In [ ]:
# impound date + impound time = impound datetime
crime_df['datetime'] = pd.to_datetime(crime_df['offense_date'].apply(str)+' '+crime_df['offense_time'], errors ='ignore')